// break points
$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;
$largeMonitorBreakpoint: 1200px;
$widescreenMonitorBreakpoint: 1920px;

// width
$defaultWidth: 750px;
$mobileWidth: 100%;
$tabletWidth: 723px;
$computerWidth: 933px;
$largeMonitorWidth: 1127px;